@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}


.topnav {
  background: linear-gradient(to right, #e66465, #9198e5);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #9198e5;
  color: black;
}

.topnav h1 {
  margin-top: 13px;
  float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #D3E3FC;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}


.text {
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.text h2 {
   padding: 0 20px;
   color:#77A6F7;
   float: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #77A6F7;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  text-shadow: 0 0 2px #0047c1;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s easy-in 0.4s;
}

footer {
  background: linear-gradient(to left, #e66465, #9198e5);
  overflow: hidden;
  padding: 14px 16px;
  margin-top: auto;
}